.component-show{
  display: flex;
  height: 100%;
  flex-grow: 10;
  flex-shrink: 10;
  overflow-y: auto;
  &::-webkit-scrollbar {
    //整个滚动条的宽高设置
    width: 10px; //宽高只有一个能生效，如果是横向滚动条高度生效，纵向滚动条宽度生效
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    //滚动条滑块的设置
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
  }
  &::-webkit-scrollbar-track {
    //滚动条轨道设置
    background-color: #f1f1f1;
  }
}

.not-found{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
}

.ui-aside-eg{
  height: 100%;
  color:#000000d9;
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  @media (width<500px ) {
    display: none;
  }
  &::-webkit-scrollbar {
    //整个滚动条的宽高设置
    width: 4px; //宽高只有一个能生效，如果是横向滚动条高度生效，纵向滚动条宽度生效
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    //滚动条滑块的设置
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
  }
  &::-webkit-scrollbar-track {
    //滚动条轨道设置
    background-color: #f1f1f1;
  }
}

.menu-button {
  display: none;
  @media (width< 500px) {
    display: block;
  }
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 1000;
}
